**/node_modules
**/.next
**/out
**/dist
**/coverage
**/.turbo
**/.git
**/.github
**/.vscode
**/.idea
**/Dockerfile*
**/docker-compose*.yml
**/*.md
!README.md
**/.env*
!.env.example
**/storage
**/uploads
**/tmp
**/.DS_Store
**/Thumbs.db
**/tests
**/playwright-report
**/test-results
